@model CreateAppointmentModel
@{
    ViewData["Title"] = "Create an appointment";
}
<h1>yehe dude</h1>

<form asp-controller="Doctor" asp-action="CreateAppointment" method="post">
    <div class="form-group" hidden>
        <label asp-for="DoctorId"></label>
        <input asp-for="DoctorId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Detail"></label>
        <input asp-for="Detail" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StartDateTime"></label>
        <input type="datetime-local" asp-for="StartDateTime" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>