<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MedicalAppointmentApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MedicalAppointmentApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SearchView">Search</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <div class="dropdown show">
                                    <a class="btn btn-primary dropdown-toggle dropdownButton" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Manage
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="RegisteredUsers">Users</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Doctor" asp-action="DoctorList">Doctors</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Institution" asp-action="InstitutionList">Institutions</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Speciality" asp-action="SpecialityList">Specialities</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Appointment" asp-action="GetAppointments">Appointments</a>
                                    </div>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Basic"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Appointment" asp-action="GetAppointmentsByUserId" asp-route-userId="@this.User.FindFirst(ClaimTypes.NameIdentifier).Value">My appointments</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Chat" asp-action="GetChatView">Chat</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#checkBtn').click(function () {
                checked = $("input[type=checkbox]:checked").length;

                if (!checked) {
                    alert("You must check at least one checkbox.");
                    return false;
                }

            });
        });

    </script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
