
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CustomResponse statusMsg = ViewBag.CustomResponse;
}

@if (statusMsg != null)
{
    <partial name="_StatusMessage" for="@statusMsg" />
}

<div class="text-center">
    <h1 class="display-5">Welcome to Medical Appointment Application!</h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>